.camlink {
    color: #777777;
}

.camlink:hover {
    color: #777777;
    text-decoration: none;
}

.camerapreview {
    float: left;
    margin: 5px;
    transition: opacity 0.3s, transform 0.3s;
    opacity: 1;
    transform: translateY(0);
}

.cameralivewall {
    float: left; 
    margin: 5px; 
    min-height:240px;
    min-width:320px;
}

.hiddencam {
    opacity: 0;
    transform: translateY(20px);
}

.hiddencam[style*="display: none;"] {
    transform: translateY(0);
}

.searchform {
    float: right;
    margin-right: 0;
    margin-left: 32px;
    position: relative;
    display: flex;
    align-items: center;
}

.searchform input {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 12px;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
}

.searchform input:focus {
    border-color: #007BFF;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
}

.searchform .clear-btn {
    position: absolute;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #aaa;
    display: none; /* clear button is hidden by default */
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: color 0.3s ease;
}

.searchform .clear-btn:hover {
    color: #000;
}