Options -Indexes

<IfModule mod_headers.c>
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires 0
</IfModule>

<IfModule mod_headers.c>
        FileETag None
        Header unset ETag
        Header unset Pragma
        Header unset Cache-Control
        Header unset Last-Modified
        Header set Pragma "no-cache"
        Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
        Header set Expires "Thu, 1 Jan 1970 00:00:00 GMT"
</IfModule>

<IfModule mod_expires.c>
        ExpiresActive Off
</IfModule>

<FilesMatch "\.(mp4|avi|mkv)$">
   ForceType application/octet-stream
   Header set Content-Disposition attachment
</FilesMatch>
